 @import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
 }

 body{
    font-size: 100%;
    background: #FFF;
 }

 .cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
 }

 .cabecalho-logo {
    height: 72px;
 }

 .cabecalho-menu{
    display: flex;
    gap: 32px;
 }

 .cabecalho-link {
    font-family: 'DM Sans', sans-serif;
    color: ;
    font-weight: 400;
    font-size: 18px;
 }


